body {
  color: #333;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav {
  background: deepskyblue;
  margin-bottom: 40px;
}

a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 20px;
}

a:hover {
  background: #0CB8F2;
}
